{{#section 'admin-js'}}
  <script>

    $('#frm').on('submit', function (e) {
      e.preventDefault();
      const Name = $('#Name').val();
      const oldName = $('#oldName').val();
      const ID = $('#ID').val();
      $('#err').empty();
      if (Name.length === 0) {
        $('#err').append(`<div class="alert alert-warning alert-dismissible fade
          show" role="alert"> <button type="button" class="close" data-dismiss="alert"
    aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
    <span>Tag name can not be blank!</span> </div>` );
        return;
      }

      $.getJSON(`/admin/tags/is-editable?oldname=${oldName}&newname=${Name}`, function (data) {
        if (data === false) {
          $('#err').append(
            `<div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <span>Tag name already existed!</span>
              </div>`
          );
        } else {
          $('#frm').attr('action', '/admin/tags/patch').off('submit').submit();
        }
      });
    });
    $('#btnDel').click(function (e) {
      $.post('delete',
        {
          ID: $('#ID').val()
        },
        function () {
          location.href = '/admin/tags';
        });
    });
  </script>
{{/section}}
{{#section 'admin-css'}}
  <style>
    .myselect-container {
      height: 1rem;
      width: 100%;
    }

    .alert button {
      position: absolute;
      top: 50% !important;
      transform: translateY(-50%);
    }
  </style>
{{/section}}
{{#section "admin-breadcrumb"}}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="/admin/tags">Tags</a></li>
      <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
  </nav>
{{/section}}
<div class='d-flex justify-content-center' style='max-width: 50rem; margin: auto'>
  <div class='card' style='width: 100%;'>
    <h4 class='card-header'>
      Tag
    </h4>
    <div class='card-body'>
      <form id='frm' method='POST'>
        <div class='form-group'>
          <label for='ID'>#</label>
          <input type='text' readonly class='form-control' id='ID' name='ID' value='{{this.item.ID}}' />
        </div>
        <div class='form-group'>
          <label for='Name'>Tag</label>
          <input type='text' class='form-control' id='Name' name='Name' autofocus value='{{this.item.Name}}' />
          <input type="hidden" id="oldName" value='{{this.item.Name}}' />
        </div>
        <div id='err'></div>
        <div style='display: inline-block; margin-top: 1rem'>
          <button type="button" id="btnDel" class='btn btn-danger'>
            <i class='fa fa-trash-o' aria-hidden='true'></i>
            Delete
          </button>
          <button id="btnEdit" type='submit' class='btn btn-success'>
            <i class='fa fa-check' aria-hidden='true'></i>
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>