* {
  margin: 0;
  padding: 0;
}

:root {
  --sidebarWidth: 240px;
}

.wrapper {
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #4d4d4d;
}


/*//////////////////////*/
/* Sidebar */
.sidebar {
  background-color: #23282D;
  width: var(--sidebarWidth);
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: left 0.5s ease;
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: "Segoe UI";
}

input[type=checkbox] {
  display: none;
}

input:checked~.main-container {
  left: 0;
}

input:checked~.sidebar {
  left: calc(var(--sidebarWidth)*-1);
}

input:checked~.btn-collapse {
  left: -8px;
  content: '<i class="fa fa-angle-double-left fa-lg" aria-hidden="true"></i>'
}

.btn-collapse {
  z-index: 2;
  position: fixed;
  top: 50%;
  left: calc(var(--sidebarWidth) - 8px);
  width: 30px;
  text-align: center;
  -moz-transition: left 0.5s ease;
  transition: left 0.5s ease;
  cursor: pointer;
  padding-left: 0;
}

.sidebar a {
  width: 100%;
  color: #a2aab2;
  font-weight: 400;
  border-bottom: 0.5px solid #404040;
  padding: 0.2rem 0.5rem;
  display: flex;
  align-items: center;
}

.sidebar a:hover {
  color: #00b9eb;
  text-decoration: none;
  background-color: #1d2024;
}

.sidebar-title {
  margin: 0.5rem auto;
  color: #eeeeee;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: inherit;
}

.sidebar-email {
  color: #a2aab2;
  font-size: 14px;
  font-family: inherit;
}

.sidebar-alias {
  font-size: 20px;
  color: #eeeeee;
  font-family: serif;
}

.sidebar img{
  align-self: flex-start;
  margin-left: 0.8rem;
}



/* Main */
/*//////////////////////*/
.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #f5f5f5;
  min-height: 100vh;
  padding: 2rem;
  position: absolute;
  top: 0;
  left: var(--sidebarWidth);
  right: 0;
  -moz-transition: left 0.5s ease;
  transition: left 0.5s ease;
}

.header-container {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.post-navbar {
  position: relative;
  height: 3.5rem;
  width: 100%;
  padding: 0;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: white;
  border: 1px solid #DFE0E1
}

.menus {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.menus a {
  color: #0688D2;
  padding: 0.8rem 1rem;
  text-decoration: none;
  border: 1px solid transparent;
}

.menus a.active {
  color: #3C434A;
  border-bottom: 2px solid #3C434A;
}

.menus a.active:hover {
  border-bottom: 1px solid #3C434A;
}

.menus a:hover {
  background-color: #E9F0F5;
}

.badge {
  color: #3C434A;
  margin-left: 0.5em;
  border: 1px solid #A7AAAD;
  padding: .25em .7em;
  border-radius: 10px;
}

.title {
  font-family: 'Noto Serif';
  font-weight: 400;
  font-size: 1.5rem;
}

.subtitle {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #646970;
  font-size: 14px;
}

.post-list-container {
  background: white;
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-flow: column;
  border: 1px solid #DFE0E1
}

.post-container:not(:last-child){
  border-bottom: 1px solid #DFE0E1;
}
.post-list-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  border-bottom: 1px solid #DFE0E1;
  padding: 0.6rem 1.5rem;
}

.header-label{
  display: flex;
  align-items: center;
}

.header-btn {
  background-color: #C9356E;
  color: white;
  padding: 0.25rem 0.5rem;
  font-size: 14px;
  border-radius: 2px;
}

.header-btn:hover {
  background-color: #ab235a;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.post-item-container {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 1rem;
}

.post-content {
  cursor: pointer;
  flex: 1;
}

.post-content-title {
  font-weight: 600;
  font-size: 20px;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.post-content-time {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.post-content-time::before {
  background-image: url('./public/svg/clock.svg');
  display: inline-block;
  content: ' ';
  background-size: 13px 13px;
  height: 13px;
  width: 13px;
  margin-right: 4px;
}

.post-options {
  display: flex;
  align-items: center;
  flex: 0;
}

.post-option {
  cursor: pointer;
}

.post-option:hover {
  color: #ab235a;
  cursor: pointer;
}
.post-option:not(:first-child){
  margin-left: 1rem;
}