{{#section "admin-css"}}
  <style>
    .alert button {
      position: absolute;
      top: 50% !important;
      transform: translateY(-50%);
    }
  </style>
{{/section}}
{{#section "admin-js"}}
  <script>
    async function validateEmail(email) {
      if (email.length === 0) {
        return 'Email can not be blank!';
      }
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      if (!re.test(String(email).toLowerCase())) {
        return 'Invalid email!';
      }
      const data = await $.getJSON(`/account/is-available?Email=${email}`);
      if(!data) return 'Email already exists!';

      return null;
    }

    function validatePassword(password, cfmPassword){
      if(password.length < 6) return 'Password must contains at least 6 characters!';
      if(password !== cfmPassword) return 'Confirm password not match!';
      return null;
    }

    function togglePassword() {
      if ($('#password').attr('type') === 'password') {
        $('#password').attr('type', 'text');
        $('#cfmPassword').attr('type', 'text');
      } else {
        $('#password').attr('type', 'password');
        $('#cfmPassword').attr('type', 'password');
      }
    }

    $('#frmAdd').on('submit', async function (e) {
      e.preventDefault();
      const email = $('#email').val();
      const password = $('#password').val();
      const type = $('#accountType').val();
      const cfmPassword = $('#cfmPassword').val();

      $('#errEmail').empty();
      $('#errPassword').empty();
      const msgEmail = await validateEmail(email);
      const msgPassword = validatePassword(password, cfmPassword);
      if(!msgEmail && !msgPassword){
        $.post('add', {email, password, type}, () => location.reload());
      }
      if (msgEmail) {
        $('#errEmail').append(
          `<div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <span>${msgEmail}</span>
          </div>`
        );
      }
      if (msgPassword){
        $('#errPassword').append(
          `<div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <span>${msgPassword}</span>
          </div>`
        );
      }
    })
  </script>
{{/section}}
{{#section "admin-breadcrumb"}}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="/admin/accounts">Accounts</a></li>
      <li class="breadcrumb-item active" aria-current="page">Add</li>
    </ol>
  </nav>
{{/section}}
<div class="d-flex justify-content-center" style="max-width: 50rem; margin: auto">
  <div class="card" style="width: 100%;">
    <h4 class="card-header">
      New Account
    </h4>
    <div class="card-body">
      <form id="frmAdd" method="POST" class="mb-0">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" name="email" autofocus />
        </div>
        <div id="errEmail"></div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" />
        </div>
        <div id="errPassword"></div>
        <div class="form-group">
          <label for="cfmPassword">Confirm Password</label>
          <input type="password" class="form-control" id="cfmPassword" />
        </div>
        <div class="mb-3">
          <input type="checkbox" onclick="togglePassword()">&nbsp; Show Password
        </div>
        <div class="form-group">
          <label for="accountType">Account Type</label>
          <select class="form-control" id="accountType" name="accountType">
            {{#each this.listType}}
              <option value={{this}} selected>{{this}}</option>
            {{/each}}
          </select>
        </div>
        <button type="submit" class="btn btn-success" style="margin-top: 1rem">
          <i class="fa fa-check" aria-hidden="true"></i>
          Save
        </button>
      </form>
    </div>
  </div>
</div>