* {
  margin: 0;
  padding: 0;
}

:root {
  --top: 0;
  --sidebarWidth: 240px;
}


/*//////////////////////*/
/* Navbar */

.fixed-top {
  background-color: rgba(0, 0, 0, 1) !important;
  height: unset;
}

.nav-item{
  display: flex;
  align-items: center;
  margin: 0 !important;
}

.nav-item:not(:first-child){
  padding: 0 1rem !important;
}

.navbar{
  font-family: "Roboto";
  font-size: 14px;
}

.navbar a{
  color: white !important;
}



/*//////////////////////*/
/* Sidebar */
.sidebar {
  background-color: #23282D;
  width: var(--sidebarWidth);
  height: 100%;
  position: fixed;
  top: var(--top);
  left: 0;
  transition: left 0.5s ease;
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: "Segoe UI";
  font-weight: 400;
}

.sidebar .btn-home {
  width: 100%;
  color: #a2aab2;
  font-weight: 400;
  border-bottom: 0.5px solid #404040;
  padding: 0.4rem 0.5rem;
  display: flex;
  align-items: center;
}

.sidebar .btn-home:hover {
  color: #00b9eb;
  text-decoration: none;
  background-color: #1d2024;
}

.sidebar-title {
  margin: 0.5rem auto;
  color: #eeeeee !important;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: inherit;
}

.sidebar a:hover{
  text-decoration: none;
}

.sidebar-email {
  color: #a2aab2;
  font-size: 14px;
  font-family: inherit;
}

.sidebar-alias {
  font-size: 20px;
  color: #eeeeee;
  font-family: serif;
}

.sidebar img{
  align-self: flex-start;
  margin-left: 0.8rem;
}

.sidebar-category {
  position: relative;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0.4rem 0.7rem;
  color: white;
  width: 100%;
  margin-top: 1rem;
}

.sidebar-category.active{
  background-color: #0073AA !important;
  color: white !important;
}

.sidebar-category.active:after{
  content: " ";
  display: block;
  z-index: 1;
  position: absolute;
  top: 50%;
  right: 0px;
  width: 0px;
  height: 0px;
  margin-top: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent rgb(241, 241, 241) transparent transparent;
  border-image: initial;
  pointer-events: none;
}

.sidebar-category:hover{
  color: #00b9eb;
  text-decoration: none;
  background-color: #1d2024;
  box-shadow: inset 8px 0px 0px -4px white;
  transition: box-shadow .18s ease-out;
}
.sidebar-item-container{
  width: 100%;
  padding: 0.4rem 0;
  margin: 0;
  background-color: #32373C;
}
.sidebar-category-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0.3rem 0.9rem;
  color: #a2aab2;
  width: 100%;
  cursor: pointer;
  margin: 0.1rem 0;
}

.sidebar-category-item:hover{
  color: #00b9eb;
  box-shadow: inset 8px 0px 0px -4px #00b9eb;
  transition: box-shadow .18s ease-out;
}

.sidebar-category-item.active {
  font-weight: 600;
  color: white !important;
}
.sidebar-category-item.active .sidebar-badge{
  border: 1px solid white !important;
  color: white !important;
  background-color: #0073AA;
  font-weight: 400 !important;
}
.sidebar-category-item.active:hover {
  color: white !important;
  box-shadow: inset 8px 0px 0px -4px white;
  transition: box-shadow .18s ease-out;
}

.sidebar-badge {
  display: flex;
  align-items: center;
  border: 1px solid black;
  color: black;
  padding: 0 .5em;
  background-color: white;
  border-radius: 10px;
  height: 1rem;
}

.sidebar-category-item:hover .sidebar-badge{
  color: #00b9eb;
  border: 1px solid #00b9eb;
}
/*//////////////////////*/
/* Content */
#editor-main-container{
  position: fixed;
  top: var(--top);
  left: var(--sidebarWidth);
  right: 0;
  bottom: 0;
  -moz-transition: left 0.5s ease;
  background-color: #f5f5f5 !important; 
  transition: left 0.5s ease;
  overflow-y: scroll;
  overflow-x: hidden;
}

#sidebar-checkbox {
  display: none;
}

input:checked~#editor-main-container {
  left: 0;
}

input:checked~.sidebar {
  left: calc(var(--sidebarWidth)*-1);
}

input:checked~.btn-collapse {
  left: 0;
  content: '<i class="fa fa-angle-double-left fa-lg" aria-hidden="true"></i>'
}

.btn-collapse {
  z-index: 2;
  position: fixed;
  display: flex;
  align-items: center;
  top: 40%;
  left: calc(var(--sidebarWidth));
  width: 30px;
  text-align: center;
  -moz-transition: left 0.5s ease;
  transition: left 0.5s ease;
  cursor: pointer;
  height: 37px;
  width: 15px;
  color:#7A9FA7;
  background-color: #23282D;
  clip-path: polygon(0 0, 100% 20%, 100% 80%, 0 100%);
}

.breadcrumb{
  background-color: #f5f5f5 !important; 
  margin: 2rem;
  padding: 0 !important;
  color: #0056b3;
  font-weight: 400;
  font-family: "Segoe UI";
}

.breadcrumb-item{
  padding-left: 0 !important;
}

@media only screen and (min-width: 769px){
  #editor-main-container, .sidebar{
    top: 47px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-brand{
    font-size: 1rem !important;
  }
  #editor-main-container, .sidebar{
    top: 34px;
  }
}

