{{#section 'css'}}
    <link rel="stylesheet" type="text/css" href="/public/styles/register-login.css">;
{{/section}}

{{#section 'js'}}
    <script>
    </script>
{{/section}}

<div class="card background-body">
<article class="card-body mx-auto bg-main text-white" style="width: 550px;">
        <h4 class="card-title mt-3 text-center mb-5">Congratulation!</h4>

        <p class="text-center">Your account has been created.</p>

        <p class="text-center"><a href="/account/login/" class="color-cyan">Return to Login</a> </p>                                                                 
</article>
</div> <!-- card.// -->