{{#section 'css'}}
    <link rel="stylesheet" type="text/css" href="/public/styles/register-login.css">;
{{/section}}

{{#section 'js'}}
    <script>
        function removeDiv(elem){
            $(elem).parent('div').remove();
        }

        $('#btnShowPassword1').click(function(e){
            e.preventDefault();
           if('password' == $('#txtPassword1').attr('type')){
                $('#txtPassword1').prop('type', 'text');
                $('#txtRePassword1').prop('type', 'text');
            }else{
                $('#txtPassword1').prop('type', 'password');
                $('#txtRePassword1').prop('type', 'password');
            }
            $('#btnShowPassword1').toggleClass('color-cyan');
        })

        $('#frmReset').on('submit', async function(e){
            e.preventDefault();

            const password = $('#txtPassword1').val();
            const repassword = $('#txtRePassword1').val();
            let error = null;

            $('#dvMessage1').empty();

            if (!password || !repassword)
                error = "Please fill in all fields";
            else if (password !== repassword)
                error = "Password do not match";
            else if (password && password.length < 6)
                error = "Password must contains atleast 6 characters";

            if(error)
                $('#dvMessage1').append(`<div class="alert alert-danger w-100 bg-transparent color-lightred d-flex align-items-center justify-content-between" role="alert">${error}<button type="button" onClick="removeDiv(this)" class="btn bg-transparent w-auto h-auto p-0 m-0"><i class="fa fa-times"></i></button></div>`);
            else
                $(this).unbind('submit').submit();
        });
    </script>
{{/section}}

<div class="card background-body">
<article class="card-body mx-auto bg-main text-white" style="width: 550px;">
        <h4 class="card-title mt-3 text-center mb-5">Change Password</h4>

        <div id="dvMessage1">
            {{#if message}}
                <div class="alert alert-success w-100 bg-transparent color-lightgreen" role='alert'>{{message}}
                    <button type="button" onClick="removeDiv(this)" class="btn bg-transparent w-auto h-auto p-0 m-0"><i class="fa fa-times"></i></button>
                </div>
            {{/if}}
        </div>

        <form autocomplete='off' id="frmReset" method="POST">
            <div class="md-form">
                <div class="input-group">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="password" id="txtPassword1" name="txtPassword" class="form-control text-white">
                    <label for="txtEmail">New Password</label>
                </div>
            </div> 

            <div class="md-form">
                <div class="input-group">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="password" id="txtRePassword1" class="form-control text-white w-50">
                    <label for="txtToken">Confirm Password</label>
                </div>
            </div>

            <div class="row d-flex justify-content-end mx-3">
                <button type="button" id="btnShowPassword1" class="btn bg-transparent w-auto h-auto p-0 m-0">
                    <i class="fa fa-eye"></i>
                </button>
            </div>

            <div class="form-group d-flex justify-content-center mt-3">
            <button type="submit" class="btn btn-info"> Confirm
                <i class="fa fa-arrow-circle-right"></i>
            </button>
        </div> <!-- form-group// -->  
        </form>

        {{!-- <p class="text-center"><a href="/account/login/" class="color-cyan">Return to Login</a> </p>                                                                  --}}
</article>
</div> <!-- card.// -->