{{#section 'css'}}
    <link rel="stylesheet" type="text/css" href="/public/styles/register-login.css">;
{{/section}}

{{#section 'js'}}
    <script>
        function validateEmail(email) {
            const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(String(email).toLowerCase());
        }

        function hideEmail(email) {
            return email.replace(/(.{6})(.*)(?=@)/,
                function(gp1, gp2, gp3) { 
                for(let i = 0; i < gp3.length; i++) { 
                    gp2+= "*"; 
                } return gp2; 
                });
            };

        function removeDiv(elem){
            $(elem).parent('div').remove();
        }

        function countDown(counting, reset){
            time = parseInt($('#txtTime').html());
            time -= 1;
            
            $('#txtTime').empty();

            if (time === 0){
                clearInterval(counting);
                reset();
                $('#txtResend').empty();
            }
            else
                $('#txtTime').append(time);
        }


        
        $(document).ready(function() {
            let isCount = false;

            let reset = function(){
                isCount = false;
            }
            
            $('#btnSend').click(async function(){
                if (isCount === false){

                    email = $('#txtEmail').val();

                    if(!validateEmail(email)){
                         $('#dvTokenMessage').append(`<div class="alert alert-danger w-100 bg-transparent color-lightred d-flex align-items-center justify-content-between" role="alert">Email invalid<button type="button" onClick="removeDiv(this)" class="btn bg-transparent w-auto h-auto p-0 m-0"><i class="fa fa-times"></i></button></div>`);
                    }
                    else{
                        const res = await $.getJSON(`/account/send-reset-password-token?email=${email}`);

                        if (res === true) {
                            $('#txtResend').append('Reset token email has been sent, wait <b id="txtTime">15</b>s if you want to resend another token.');
                            let counting = setInterval(function(){countDown(counting, reset)}, 1000);
                            isCount = true;
                        }
                        else{
                            console.log(res);                    
                        }
                    }
                }
            });
        });

        $('#frmReset').on('submit', async function(e){
            $('#dvTokenMessage').empty();
            e.preventDefault();
            const token = $('#txtToken').val();

            const res = await $.getJSON(`/account/is-token-match?token=${token}&type=reset`);

            if (res)
                $(this).unbind('submit').submit();
            else
                $('#dvTokenMessage').append(`<div class="alert alert-danger w-100 bg-transparent color-lightred d-flex align-items-center justify-content-between" role="alert">Token invalid<button type="button" onClick="removeDiv(this)" class="btn bg-transparent w-auto h-auto p-0 m-0"><i class="fa fa-times"></i></button></div>`);
        });

    </script>
{{/section}}

<div class="card background-body">
<article class="card-body mx-auto bg-main text-white" style="width: 550px;">
        <h4 class="card-title mt-3 text-center mb-5">Forgot your Password?</h4>

        <p class="">Seems like you forgot your password for Newspaper.</p>
        <p>
            Please enter your account email for sending reset token.
        </p>
        <form autocomplete='off' id="frmReset" method="POST">
            <div class="md-form">
                <div class="input-group">
                    {{!-- <i class="fa fa-envelope prefix grey-text"></i> --}}
                    <input type="text" id="txtEmail" name="txtEmail" class="form-control text-white">
                    <button type="button" class="btn btn-info" id="btnSend"> Send
                        <i class="fa fa-arrow-circle-right"></i>
                    </button>
                    <label for="txtEmail">Email</label>
                </div>
            </div>
            
            <p id='txtResend'>
            </p>
            <div id="dvTokenMessage">
            </div>
            <div class="md-form">
                <div class="input-group">
                {{!-- <i class="fa fa-envelope prefix grey-text"></i> --}}
                <input type="text" id="txtToken" name="txtToken" class="form-control text-white w-50">
                <button class="btn btn-info" type="submit" id="btnReset" data-mdb-ripple-color="dark">
                    Reset Password
                </button>
                <label for="txtToken">Reset token</label>
                </div>
            </div>

        </form>

        <p class="">If you did not forgot your password you can safely ignore the reset email</p>


        <p class="text-center"><a href="/" class="color-cyan">Return to Home</a> </p>                                                                 
</article>
</div> <!-- card.// -->