<div class='d-flex flex-md-column  justify-content-center' style='max-width: 50rem; margin: auto'>
  <div class="flex float-left mb-2">
    <a class="btn btn-primary btn-sm" href="/admin/posts" role="button">
      <i class="fa fa-backward" aria-hidden="true"></i>
      Back to list
    </a>
  </div>
  <div class='card' style='width: 100%;'>
    <h4 class='card-header'>
      POST
    </h4>
    <div class='card-body'>
      {{{this.post.Content}}}
    </div>
  </div>
</div>