a {
  text-decoration: none;
  color: black;
}

.navbar-light .navbar-brand {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-brand:hover {
  color: #fff !important;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-toggler {
  background: #fff;
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  padding: .2rem 1rem;
}

.nav-link.active,
.nav-link:focus {
  color: #fff;
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

.facebook_icon:hover {
  transition: 1s;
  transform: rotateY(360deg);
  background-color: #3b5999;
}

.twitter_icon:hover {
  transition: 1s;
  transform: rotateY(360deg);
  background-color: #55acee;
}

.linkedin_icon:hover {
  transition: 1s;
  transform: rotateY(360deg);
  background-color: #0077b5;
}

.googleplus_icon:hover {
  transition: 1s;
  transform: rotateY(360deg);
  background-color: #dd4b39;
}

.fixed-top.scrolled {
    background-color: black !important;
    transition: background-color 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fixed-top {
  background-color: rgba(0, 0, 0, 0);
}

.navbar-dark {
  background-color: rgba(0, 0, 0, 1) !important;
}

.fixed-top.scrolled .navbar-dark {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.fixed-top.scrolled a {
    color: white !important;
}

.dropdown-item:hover {
  color: black !important;
}

.account-triger:hover {
  background-color: #414449;
}
#content{
  padding-top: 181px;
}

@media only screen and (max-width: 1200px) {
  .computerScreen{
    display: none;
  }
  #content{
    padding-top: 100px !important;
  }
  .phoneScreen{
    display: block !important;
  }
}

.fixed-top .navbar-collapse {
  max-height: calc(100vh - 4.5em);
  overflow-y: auto;
}